@{

}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ToDoBook</title>
    <link rel="stylesheet" href="~/css/entryrem.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header-logo">ToDoBook</div>
        <div class="container-logo">
            <img src="image/book.svg" alt="">
        </div>
        <nav class="nav">
            <a class="nav_link" href="/Home">Главная</a>
            <a class="nav_link" href="~/User">Профиль</a>
            <a class="nav_link" href="~/User/RequestDiary">Дневники</a>
            <a class="nav_link" href="/Home">О нас</a>
            <a class="nav_link" href="~/User/News">Новости</a>
        </nav>
    </header>

    <div class="mainstr">
        <div class="content">
            <div class="zag">Напоминание</div>
            <form class="entrytext" method="post">
                <input type="hidden" value="@ViewBag.ID" name="DiaryId" />
                <input type="hidden" value="@ViewBag.Entries.ID" name="Id" />
                <table class="table">
                    <tr>
                        <td>Название:</td>
                        <td><input type="text" value="@ViewBag.Entries.Name" placeholder="Название" name="Name"/></td>

                    </tr>
                    <tr>
                        <td>Описание:</td>
                        <td><input type="text" value="@ViewBag.Entries.Description" placeholder="Описание" name="Description"/></td>

                    </tr>
                    <tr>
                        <td>Дата:</td>
                        <td><input type="datetime-local" value="@ViewBag.Entries.Time.ToString("yyyy-MM-ddThh:mm")" name="Time" /></td>
                    </tr>
                    <tr>
                        <td>Почта:</td>
                        <td><input type="text" value="@ViewBag.Entries.Email" name="Email" /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Отправить" /></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="footer"><div class="copy">Все права защищены &copy; 2021 ToDoBook</div></div>
    </div>
</body>

</html>


