
@{

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ToDoBook</title>
    <link rel="stylesheet" href="~/css/entrytime.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainstr">
        <div class="content">
            <div class="zag">С таймером</div>
            <form class="entrytext" method="post">
                <input type="hidden" value="@ViewBag.ID" name="DiaryID" />
                <input type="hidden" value="@ViewBag.Entries.ID" name="ID" />
                <table class="table">
                    <tr>
                        <td>Название:</td>
                        <td><input type="text" value="@ViewBag.Entries.Name" name="Name" placeholder="Название" /> </td>

                    </tr>
                    <tr>
                        <td>Описание:</td>
                        <td><input type="text" value="@ViewBag.Entries.Description" name="Description" placeholder="Описание" /></td>

                    </tr>
                    <tr>
                        <td>Дата окончания:</td>
                        <td><input type="datetime-local" value="@ViewBag.Entries.EndTime.ToString("yyyy-MM-ddTHH:mm")" name="EndTime" /></td>

                    </tr>
                    <tr>
                        <td>Осталось времени:</td>
                        <td>@ViewBag.Entries.TimeLeft.ToString(@"dd\:hh\:mm\:ss")</td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Отправить" /></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="footer"><div class="copy">Все права защищены &copy; 2021 ToDoBook</div></div>
    </div>
</body>

</html>


