@{
        ViewData["Title"] = "AHAHAHAAH GOVNO V JOPE LOX";
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>EatingDaily</title>
	<link rel="stylesheet" href="~/css/style-prof.css">
	<link rel="stylesheet" href="~/css/style-sign.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="validation">
		<div class="user">
			<div class="avatar">
				@if (ViewBag.Avatar != null)
				{
					<img width="100px" height="100px" src="data:image/jpeg;base64,@(Convert.ToBase64String(ViewBag.Avatar))" />
				}
				else
				{ 
					<img src="image/book.svg" width="100px" height="100px">
				}
			</div>
			<div class="user-content">
				<form method="post" enctype="multipart/form-data">
					<input type="hidden" value="@ViewBag.Profile.ID" name="ID" />
					<div class="user-name"><input type="text" name="Name" value="@ViewBag.Profile.Name" placeholder="Имя"></div>
					<div class="user-surname"><input type="text" name="LastName" value="@ViewBag.Profile.LastName" placeholder="Фамилия"></div>
					<div class="user-telephone"><input type="text" name="Phone" value="@ViewBag.Profile.Phone" placeholder="Номер"></div>
					<div class="user-age"><input type="text" name="Age" value="@ViewBag.Profile.Age" placeholder="Возраст"></div>
					<input name="Avatar" type="file" class="form-control" />
					<div class="user-sub"><input type="submit" name="" placeholder="Отправить"></div>
					<a class="logout" href="~/account/logout">XYU</a>
				</form>
			</div>
		</div>
	</div>
</body>
</html>