@{
        ViewData["Title"] = "Your Profile";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EatingDaily</title>
    <link rel="stylesheet" href="~/css/style-prof.css">
    <link rel="stylesheet" href="~/css/style-sign.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0; /* Убираем отступы */
            height: 100%;
            background-image: url(images/foto.jpg); /* Путь к фоновому изображению */
            background-position: center;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="validation">
        <div class="user">
            <div class="user-content">
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@ViewBag.Profile.ID" name="ID" />
                    <div class="user-name"><input type="text" name="Name" value="@ViewBag.Profile.Name" placeholder="Имя"></div>
                    <div class="user-surname"><input type="text" name="LastName" value="@ViewBag.Profile.LastName" placeholder="Фамилия"></div>
                    <div class="user-telephone"><input type="text" name="Phone" value="@ViewBag.Profile.Phone" placeholder="Номер"></div>
                    <div class="user-age"><input type="text" name="Age" value="@ViewBag.Profile.Age" placeholder="Возраст"></div>
                    <div class="user-sub"><input type="submit" name="" placeholder="Отправить"></div>
                    <a class="logout" href="~/account/logout">Выход</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>